/* inizio css di head */
.head{
background-image:url(../img/pattern.png);
background-color: cornflowerblue;
background-repeat: repeat-x;
background-size: 500px;
}
#logo{
   width: 500px;
   padding-top: 70px;

}
#font{
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: auto;
}
#lollo{
    color:deepskyblue;
}
.lollo1{
    font-size: 20px;
}
/* css di header */
#now1{
    margin: auto;
}
#now2{
    margin: auto;
}
#lorem{
    background-color: gold;
}
#testa{
    color: white;
    background-color:royalblue;
}
.backgroundskyblue{
    background-color: skyblue;
}
/* css main */
#testo3{
    background-color: yellow;
}
#lorem1{
    color: gray;
}
#lorem2{
    background-image: url(../img/monitor.jpg);
    color: white;
    height: 200px;
    width: 312px;
}
#lorem3{
    background-image: url(../img/graph.jpg);
    color: white;
    width: 312px;
    height: 200px;
}
.larghezza{
    width: 1050px;
}